header {
    margin-top: 200px;
}
.dws-menu * {
    margin: 0;
    padding: 0; 
}
.dws-menu ul {
    list-style: none;
}
.dws-menu > ul {
    display: flex;
    justify-content: center;
}
.dws-menu > ul li a {
    display: block;
    background: burlywood;
    padding: 15px 30px 15px 40px;
    font-size: 14px;
    color: brown;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0,3s ease;
}
.dws-menu > ul li {
    position: relative;
} 
.dws-menu > ul li:first-child {
    border-left: 1px solid #b2b2b2 ;
}
.dws-menu > ul li:last-child {
    border-right: 1px solid #b2b2b2 ;
}
.dws-menu li a:hover {
    background: rgb(149, 149, 13);
    color: black;
    box-shadow: 1px 5px 10px -5px black;
    transition: all 0,3s ease;
}

/*Sub menu*/
.dws-menu li ul {
    position: absolute;
    min-width: 150px;
    display: none;
}
.dws-menu li > ul li {
    border: 1px solid  #b2b2b2;
}
.dws-menu li > ul li a {
    padding: 10px;
    text-transform: none;
    background: rgb(149, 149, 13);
}
.dws-menu li > ul li ul {
    position: absolute;
    right: -150px;
    top: 0;
}
.dws-menu li:hover > ul {
    display: block;
}







